
root = true

[*]
indent_style = space
indent_size = 2

end_of_line = crlf  # for MSVC compatible
charset = utf-8-bom # for MSVC compatible
trim_trailing_whitespace = true
insert_final_newline = true


[.gitignore]
end_of_line = lf
charset = utf-8

[.clang-format]
end_of_line = lf
charset = utf-8

[.editorConfig]
end_of_line = lf
charset = utf-8


[*.md]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = false
